*{
	font-family: times new roman;
	box-sizing: border-box;
	text-align: center;
}

body{
	background: azure;

}
body h1{           
	color: Crimson;
}
.container{
	margin: auto;
	width: 50%;
	padding: 10px;
	text-align: center; 
}
form {
	position: center;
}

fieldset{
	margin:auto;
	background:#90a4ae42; 
	padding: 25px;
    border-radius: 5px;
    border-left: 3px solid green;
    position: absolute;

}	


